/* Fonts */
@font-face {
    font-family: neutrafaceTextBold;
    src: url(../font/Neutraface\ Text\ Bold.otf);
}

@font-face {
    font-family: neutrafaceTextBook;
    src: url(../font/Neutraface\ Text\ Book.otf);
}

@font-face {
    font-family: neutrafaceTextDemi;
    src: url(../font/Neutraface\ Text\ Demi.otf);
}

@font-face {
    font-family: neutrafaceTextLight;
    src: url(../font/Neutraface\ Text\ Light.otf);
}

:root {
    --primary: #F0DB4F;
    --secondary: #323330;
    --tertiary: #DFDFDF;
    --text: #404040;
    --comment: #868E96;
    --purple: #DF3066;
    --red: #F2180E;
    --green: #00A67D;
    --blue: #2E8296;
    --gold: #C3950C;
    --48px: 3rem;
    --40px: 2.5rem;
    --36px: 2.25rem;
    --32px: 2rem;
    --24px: 1.5rem;
    --20px: 1.25rem;
    --16px: 1rem;
    --15px: 0.938rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    background-color: var(--secondary);
}

.display_none {
    display: none !important; 
}

/* Navbar */
.nav_container {
    display: grid;
    place-items: center;
    background-color: var(--primary);
    height: 85px;
    width: 100vw;
}
.nav_container > section {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    font-family: neutrafaceTextBold;
}
.nav_container > section > :first-child {
    font-size: var(--36px);
}
.nav_container > section > :nth-child(2) {
    font-size: var(--48px);
}
/* Navbar Nav buttons */
.nav_button_container {
    display: flex;
    gap: 30px
}
.nav_button_container > button {
    font-size: var(--24px);
    font-family: neutrafaceTextBold;
    border-style: none;
    background-color: transparent;
}
.nav_button_container > button:hover {
    cursor: pointer;
    border-bottom: solid 3px var(--secondary);
}

.nav_container > section > :last-child > svg {
    width: 40px;
    height: 40px;
}


/* drop down menu */
.drop_down_menu {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: var(--text);
    width: 100vw;
    transition: 0.2s ease-in-out;
    height: 0px;
}
.drop_down_menu > button {
    margin-top: 10px;
    background-color: transparent;
    border-style: none;
    border-bottom: 2px solid var(--tertiary);
    font-family: neutrafaceTextBold;
    color: var(--tertiary);
    font-size: var(--32px);
    width: 100vw;
}
.drop_down_menu > :last-child  {
    border-bottom: none;
}
.drop_down_Animation {
    transition: 0.2s ease-in-out;
    height: 270px;
}


/* footer container */
.footer_container {
    display: grid;
    place-items: center;
    background-color: var(--text);
    width: 100vw;
    height: 100px;
}
.footer_container > div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_container > div > :first-child {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
}
.footer_container > div > :first-child > :first-child > svg {
    width: 60px;
    height: 60px;
}
.footer_container > div > :first-child > :nth-child(2) {
    align-self: end;
    font-family: neutrafaceTextBold;
}
.footer_container > div > :first-child > :nth-child(2) > :first-child {
    font-size: var(--20px);
    color: var(--tertiary);
}
.footer_container > div > :first-child > :nth-child(2) > :nth-child(2) {
    font-size: var(--16px);
    color: var(--comment);
}
.footer_container > div > :nth-child(2) > button {
    font-family: neutrafaceTextBold;
    background-color: transparent;
    border-style: none;
    color: var(--comment);
}
.footer_container > div > :nth-child(2) > button:hover {
    cursor: pointer;
    color: var(--tertiary);
}

@media only screen and (max-width: 660px){
    .footer_container {
        height: 80px;
    }
    .footer_container > div > :first-child > :nth-child(2) > :first-child {
        font-size: var(--15px);
    }
    .footer_container > div > :first-child > :nth-child(2) > :nth-child(2) {
        font-size: 0.75rem;
    }
    .footer_container > div > :nth-child(2) {
        display: flex;
        flex-direction: column;
    }
}